
name: Deploy to GitHub Pages and Server

on:
  push:
    branches:
      - main  # 每次推送到 main 分支时触发

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2  # 检出代码

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'  # 设置 Node.js 版本

      - name: Install Dependencies
        run: |
          yarn install  # 安装依赖

      - name: Build Static Files
        run: |
          yarn build  # 构建 VuePress 静态文件

      - name: Commit and Push All Code to Main
        run: |
          # 提交并推送所有代码到 main 分支
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add -A
          git commit -m "Deploy code to main"
          git push origin main  # 将代码推送到 main 分支

      - name: Deploy to GitHub Pages
        run: |
          # 切换到构建目录并初始化 git 仓库
          cd .vuepress/dist
          git init
          git add -A
          git commit -m 'deploy'
          git push -f git@github.com:kidoneself/kidoneself.github.io.git main:gh-pages

      - name: Deploy to Server via SSH
        run: |
          # 通过 SSH 将构建的静态文件部署到服务器
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@43.134.58.162 'bash -s' << 'EOF'
            cd /home/kidoneself.github.io
            git pull origin main  # 拉取最新代码
            yarn build  # 重新构建静态文件
            sudo systemctl restart caddy  # 重启 Caddy 服务
          EOF
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}  # 使用 GitHub Secrets 中配置的私钥